<!DOCTYPE html>
<html lang="en" ng-app="eventMatchApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>eventMatch.com</title>

  <link rel="stylesheet" type="text/css" href="./css/style.css">

  <!-- External JS Files -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.5/angular.min.js"></script>
  <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-resource.min.js"></script>
  
  <!-- Internal JS Files -->
  <script type="text/javascript" src="js/app.js"></script>
  <script type="text/javascript" src="js/models/user.js"></script>
  <script type="text/javascript" src="js/models/event.js"></script>
  <script type="text/javascript" src="js/controllers/usersController.js"></script>
  <script type="text/javascript" src="js/controllers/eventsController.js"></script>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top" >
    <div class="container" >
      <div class="navbar-header" >
        <a class="navbar-brand"
           href="/" >Event Match
        </a >
      </div >
    </div >
  </nav >

  

  <div ng-controller="usersController as users"></div>
  <div ng-controller="eventsController as events"></div>

</body>
</html>