html,body {
  height:100%;
  background:linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(70, 70, 70, 0.8)
      ),
      url('http://whitemanblackmanchineseman.com/wp-content/uploads/2012/01/David-diverse-faces-collage.jpg') center center no-repeat;
  background-position: center;
  background-size: cover;
}
.mainView {
  padding-top:100px;
}
.myEventsButton {
  display:inline-block;
  margin:10px;
}
.whoIsButton {
  display:none;
}
h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#fff;
}
.search-header {
  text-align: center;
}
.lead {
  color:#DDCCEE;
}



.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}

.btn.btn-info{
  position: center;
}





a.login-a{
  color: white;
}

.btn:focus {
  background-color: red;
}


form{
  margin: 0 auto;
  border-radius: 5px;
  top: 190px;
  width: 70%;
  z-index: 1005;
  left: 310px;
  background-color: #FFFFFF;
  padding: 1.875rem;
  border: solid 1px #666666;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: rgba(255,255,255,0.5);
}

.about a:hover{
  background-color: #DFE945;
}

nav,{
  position: center;
  background-color: #DFE945;
  width: 100%;
  right: 70px;
}

.navbar-default{
    background-color: #151212;
    border-color: #151212;
}

.row{
  background-color: rgba(255,255,255,1);
  background-size: 100%
  bottom: -100px;
  border-radius: 5px;
}
.searchResultsContainer {
  background-color: rgba(255,255,255,1);
  margin-top: 50px;
 
} 
.searchResultsRepeat {
  padding:20px;
  margin-bottom: -10px;
}
input{
  width: 200px;
}


.spinner { 
display:none;}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}
.searchResultsContainer {
  background: ;
}
.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
